@import url("https://use.typekit.net/xts2pew.css");

:root {
  --secondary-color: #fff;
  --primary-color: rgba(0, 51, 154,0.98);
  --primary-trans: rgba(0,0,10,.75);
}

#root {
  background-color: var(--primary-color);
  padding: 3vw 9vw;
  width: 45vw;
  filter: drop-shadow(-12px 12px 0px rgba(255,255,255, 0.1));
  border-right: 1px solid var(--secondary-color);
}

body {
  font-family: "fira-code";
  color: var(--secondary-color);
  background-color: #00339a;
  background-image: url("/assets/Artboard 1.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  margin: 0 auto;
}

h1 {
  font-family: system-ui;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 3rem;
  letter-spacing: 6px;
  margin: 0;
}

h2 {
  color: var(--secondary-color);
  font-size: 1rem;
  font-weight: normal;
  margin: 0;
  padding: 12px 9px;
  border: 3px dashed var(--secondary-color);
}

h3 {
  font-size: 1.5rem;
  margin-top: 0px;
}

h4 {
  font-size: 1.5rem;
  font-weight: normal;
  border: 3px dashed var(--secondary-color);
  padding: 12px 9px;
  color: var(--secondary-color);
}

p {
  font-size: 1rem;
  line-height: 1.5rem;
}

li {
  margin-top: 1rem;
  margin-bottom: 1rem;
  line-height: 1.5rem;
}

a, a:visited {
  color: white;
}

a:hover {
  color: var(--secondary-color);
  transition: all;
  transition-duration: 1000ms;
}

.card {
  border-right: 3px dashed var(--secondary-color);
  border-top: 3px dashed var(--secondary-color);
  padding: 36px 24px;
  margin-top: 72px;
  margin-bottom: 18px;
  color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  box-shadow: -6px 12px white;
}

.card__body {
  color: var(--secondary-color);
}

.card__actions {
  display: flex;
  gap: 18px;
}

.card__actions a {
  text-decoration: none;
  font-size: 18px;
  color: var(--primary-color);
  border: 0.5px solid var(--secondary-color);
  background: var(--secondary-color);
  padding: 12px 18px;
  transition: all;
  transition-duration: 1000ms;
}

.card__actions a:hover {
  background: var(--primary-color);
  color: var(--secondary-color);
}